<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informations sur l'employé {{employés.prenom}} {{employés.nom}}</h1>
    <h4>NOM:</h4>
    <p>{{employés.nom}}</p>
    <h4>PRENOM</h4>
    <p>{{employés.prenom}}</p>
    <h4>DATE DE NAISSANCE</h4>
    <p>{{employés.date_de_naissance}}</p>
    <h4>EMAIL</h4>
    <p>{{employés.email}}</p>
    <h4>POSTE</h4>
    <p>{{employés.POSTE}}</p>
    
</body>
</html>